  *{
    margin:0;
    padding:0;
  }
  body{
    background-color: #eeeeee;
  }

  .page_bg{
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    width: 512px;
    height: 743px;
    background-color: #ffffff;
  }

  .header{
    padding-top: 50px;
    text-align: center;
    font-family: times;
    font-size: 24px;
    font-weight: bold;
  }

  .foto{
    padding-top: 20px;
    text-align: center;
  }

  .college{
    padding-top: 6px;
    padding-left: 60px;
    text-align: left;
    font-family: times;
    font-size: 18px;
  }

  .hr_line{
    padding: 16px 50px 24px 50px;
  }

  .skills{
    padding-left: 60px;
    text-align: left;
    font-family: times;
    font-size: 18px;
  }

  .skill_list{
    padding-top: 28px;
    padding-left: 85px;
    text-align: left;
    font-family: times;
    font-size: 18px;
    line-height: 25px;
  }

  .contact, .footer{
    padding-left: 60px;
    text-align: left;
    font-family: times;
    font-size: 18px;
    line-height: 25px;
  }
